.workoutPlanCard {
  min-height: 250px;
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
}

.workoutPlanCard:nth-child(2n + 1) .workoutPlanCardIcon {
  background: var(--mantine-color-green-light);
  color: var(--mantine-color-green-8)
}

.workoutPlanCard:nth-child(2n) .workoutPlanCardIcon {
  background: var(--mantine-color-grape-light);
  color: var(--mantine-color-grape-6);
}

.workoutPlanCard:hover {
  transform: translateY(-2px);
  box-shadow: var(--mantine-shadow-md);
}

.workoutPlanCard:nth-child(2n + 1):hover {
  border-color: var(--mantine-color-pink-4);
}

.workoutPlanCard:nth-child(2n):hover {
  border-color: var(--mantine-color-grape-4);
}

/* hover for green */